[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[requires]

python_version = "3.5"


[packages]

google-api-python-client = "*"
"google-auth-httplib2" = "*"
google-auth-oauthlib = "*"
ptpython = "*"


[dev-packages]

